<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>spring-thymeleaf</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
</head>
<body>
<h1 th:text="${host}">Hello World</h1>

<h1>国际化</h1>
<p class="gjh" th:text="#{home.welcome}">Welcome to our grocery store!</p>
<p class="panel-title" th:utext="#{home.welcome}">visit model</p>

<input type="text" name="userName" value="James Carrot" th:value="${userName}"/>

<h1 th:text="${user.sex}">Hello World</h1>

<p>Hello, <span th:text="${user.name}">Sebastian</span>!</p>

<div th:object="${user}">
    <p>Nationality: <span th:text="*{sex}">Saturn</span>.</p>
</div>

<h1>url</h1>
<a href="details.html" th:href="@{/hello(userName=${user.name},sex=${user.sex})}">view</a>
<p/>
<img src="../static/imgs/xyk.jpg" th:src="@{/imgs/xyk.jpg}" alt="二维码"/>
<img src="../static/imgs/xyk.jpg" th:src="@{${path}}" alt="二维码"/>
<img src="../static/imgs/xyk.jpg" th:src="${imgBase64}" alt="二维码"/>

<h1>内置函数</h1>
<dt>数字格式化</dt>
<dd th:text="${#numbers.formatDecimal(num,3,2)}">Hello World</dd>
<dt>进货日期</dt>
<dd th:text="${#dates.format(user.createTime, 'yyyy-MM-dd hh:ss:mm aa')}">2014-12-01</dd>
<dt>字符串拼接</dt>
<dd th:text="${'字符串拼接岁数：'+user.age}">235</dd>
<dt th:text="${#ctx.#request}"></dt>
<dt th:text="'获取传递参数：id=' + ${#request.getParameter('id')}">33</dt>

<h3>遍历</h3>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>flg</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="userinfo:${userList}">
        　　
        <td th:text="${userinfo.name}">Onions</td>
        　　
        <td th:text="${userinfo.age}">28</td>
        　　
        <td th:text="${userinfo.flg}? #{true} : #{false}">yes</td>
    </tr>

    </tbody>
</table>

<h3>条件比较“if” and “unless”等表达式</h3>
<span th:if="${user.age lt 100}" class="offer">小于!</span>
<span th:if="${user.age le 10}" class="offer">小于等于!</span>
<span th:if="${user.age gt 10}" class="offer">大于!</span>
<span th:if="${user.age ge 10}" class="offer">大于等于!</span>
<span th:if="${user.age eq 10}" class="offer">等于!</span>
<span th:if="${user.age ne 10}" class="offer">不等于!</span>
<div th:if="${user.age} &gt; 1">大于还可以这样表示</div>
<span th:text="'Execution mode is ' + ( (${userName} == '木头')? 'Development' : 'Production')"/>
<div th:if="${user} != null">null值判断</div>
<div th:if="${bol} == true">布尔判断</div>
<table>
    <tbody>
    <tr th:class="${bol}? 'even' : 'odd'">
        标记符号值（token）
    </tr>
    </tbody>
</table>

<a href="login/login.html"
   th:href="@{/hello?userName=木木}"
   th:if="${not #lists.isEmpty(userList)}">view</a>
<a href="login/login.html"
   th:href="@{/hello?userName=木木}"
   th:if="${#lists.isEmpty(userList)}">view</a>
<a href="login/login.html"
   th:href="@{/hello(userName='========' + ${userName})}"
   th:unless="${#lists.isEmpty(userList)}">if反属性unless</a>

<h3>条件switch</h3>
<div th:switch="${user.name}">
    <p th:case="'木头'">我是木头</p>
    <p th:case="#{user.name}">我是messages中的木头</p>
    <p th:case="*">默认，相当于default</p>
</div>

<h3>定义局部变量</h3>
<div th:object="${user}" th:with="one=${user.name},two=${user.sex}">
    <p th:text="*{name}"></p>
    <p th:text="${one} + '--' + ${two}"></p>
</div>


<h3>片段fragments</h3>
<div th:insert="~{common/footer :: footer}">方式一，啦啦啦啦啦</div>
<div th:replace="common/footer :: footer">方式二，啦啦啦啦啦</div>
<div th:replace="~{common/common-fragment :: pager}">分页fragment</div>
<div th:include="~{common/common-fragment :: hint}">提醒</div>
<div th:replace="common/common-fragment :: ((${user.age} gt 100)? pager : hint)"></div>
<div th:insert="~{common/common-fragment :: ((${user.age} gt 100)? pager : hint)}"></div>
<h4>片段fragment参数(像函数一样使用片段)</h4>
<div th:replace="common/common-fragment :: top(${user.name},${user.sex})"></div>
<!--不用管顺序-->
<h5>参数不用管顺序</h5>
<div th:replace="common/common-fragment::top (one=${user.age},two=${user.sex})">...</div>
<h5>在没有参数签名的片段使用参数</h5>
<div th:insert="~{common/footer :: footer(one=${user.age},two=${user.sex})}">在没有参数签名的片段使用参数</div>
<div th:replace="common/common-fragment :: withdemo">
</div>

<h3>表单</h3>
<form th:action="@{/hello}" th:object="${user}" method="post" th:method="post">

    <input type="text" name="userName" th:value="*{name}"/>
    <input type="text" name="sex" th:field="*{sex}"/>
    <select th:field="*{name}">
        <option th:each="user : ${userList}"
                th:value="${user.name}"
                th:text="${user.name}">小木
        </option>
    </select>
    <input type="checkbox" th:field="*{name}" th:value="*{name}"/>
    <p/>
    <ul>
        <li th:each="user : ${userList}">
            <input type="checkbox" th:field="*{name}" th:value="${name}"/>
            <label th:for="${user.name}"
                   th:text="${user.name}">Heating</label>
        </li>
    </ul>
    <ul>
        <li th:each="user : ${userList}" th:text="${user.sex}">性别</li>
    </ul>

    <p/>
    <input type="submit" value="提交表单" th:value="提交表单"/>
</form>

<h3>--转义和非转义文本</h3>
<div th:text="${html}">
    　This is an &lt;em&gt;HTML&lt;/em&gt; text. &lt;b&gt;Enjoy yourself!&lt;/b&gt;
</div>
<div th:utext="${html}">
    　This is an <em>HTML</em> text. <b>Enjoy yourself!</b>
</div>

<h3>设置html属性</h3>
<!--<div>-->
    <!--<p th:attr="${userName}"></p>-->
<!--</div>-->


</body>
</html>