<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script type="text/javascript" src="js/index.js"></script>  
	<script type="text/javascript" src="js/login/login.js"></script>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>
	
	<img  src="img/aaa.png"/>  
	
	<p/>
	<button type="button" onclick="index()">点击我呀!</button>

</body>
</html>
